body{
	background-color: LightGrey;
}

.task .subject,
.mailSubject{
	display: block;
	min-width: 20em;
	width: 75%;
}
.task .manHour{
	display: block;
	min-width: 6em;
}
.task .content,
.mailBody{
	min-width: 20em;
	width: 75%;
	min-height: 10em;
}
.mailBody{
	height: 30em;
}